<%= render "layouts/navigation" %>

<div class="col-sm-12 text-center"> 
<h1>
  <strong>Name:</strong>
  <%= @gsi.name %>
</h1>

<h1>
  <strong>Course:</strong>
  <%= @course.name %>
</h1>

<% @reviewForThisCourse = Review.where(gsi: @gsi) %>

<% if @reviewForThisCourse.size > 0 %>
	<h2> Review <%= @gsi.name %> for <%= @course.name %> </h2>
	<% @reviewForThisCourse.each do |r| %>
			<%= r.user.username %>     says: <%= r.content %> <br />
			Clarity <%= r.clarity %>/10 <br />
			Attitude <%= r.attitude %>/10 <br />
			Problem <%= r.problem %>/10 <br />
			Concept <%= r.concept %>/10 <br />
			<% if r.score > 0 %>
				<% if r.score == 1 %>
					Upvoted by 1 student <br />
				<% else %>
					Upvoted by <%= r.score %> students <br />
				<% end %>
			<% end %>
			<%= form_for r.upvotes.build do |f| %>
			  <%= f.hidden_field :user_id, value: current_user.id %>
			  <%= f.hidden_field :review_id, value: r.id %>
			  <%= f.submit 'Upvote', class: 'upvote-submit' %>
			<% end %>
			<br />
		<br />
	<% end %>

<% end %>
 




<h2> Leave a new review </h2>

<%= form_for Review.new, url: gsi_path(@gsi) do |f| %>
	Comment: <%= f.text_area :content %>
	<br />
	Clarity: <%= f.number_field :clarity %>
	<br />
	Attitude: <%= f.number_field :attitude %>
	<br />
	Problem: <%= f.number_field :problem %>
	<br />
	Concept: <%= f.number_field :concept %>
	<br />
	&nbsp
	<%= f.submit %>
<% end %>

<p></p>
&nbsp
<button class="btn btn-default" type="button"><%= link_to 'Back', course_path(@course) %> </button>| 
<button class="btn btn-default" type="button"><%= link_to 'Homepage', root_path %></button>

</div>

<div class="footer navbar-fixed-bottom">	
  <footer class="container-fluid text-center fixed-bottom">
  <p>Rate My GSI</p>
  </footer>
</div>


