<%= render "layouts/navigation" %>

<div class="col-sm-12 text-center"> 

<div class="name"><h1> <strong>Course:</strong>
	  <%= @course.name %>
</h1>

<h2>
  <strong>GSI Name:</strong>
  <%= @gsi.name %>
</h2>
</div>

<% @reviewForThisCourse = Review.where(gsi: @gsi) %>

<% if @reviewForThisCourse.size > 0 %>
	<h2> Review <%= @gsi.name %> for <%= @course.name %> </h2>
	<% @reviewForThisCourse.each do |r| %>
			<%= r.user.username %>     says: <%= r.content %> <br />
			Clarity <%= r.clarity %>/10 <br />
			Attitude <%= r.attitude %>/10 <br />
			Problem <%= r.problem %>/10 <br />
			Concept <%= r.concept %>/10 <br />
			<% if r.score > 0 %>
				<% if r.score == 1 %>
					Upvoted by 1 student <br />
				<% else %>
					Upvoted by <%= r.score %> students <br />
				<% end %>
			<% end %>
			<% if user_signed_in? %>
				<%= form_for r.upvotes.build do |f| %>
				  <%= f.hidden_field :user_id, value: current_user.id %>
				  <%= f.hidden_field :review_id, value: r.id %>
				  <%= f.submit 'Upvote', class: 'upvote-submit' %>
				<% end %>
			<% end %>
			<br />
		<br />
	<% end %>

<% end %>
 




<h2> Leave a new review </h2>
<div class="description">
		<br />
	<h5> Note: Please rate your GSI for his/her Clarity/Attitude/Problem/Concept from the scale of 1-10. </h5> 
<%= form_for Review.new, url: gsi_path(@gsi) do |f| %>
	Comment: <%= f.text_area :content %>
	<br />
	Clarity: <%= f.number_field :clarity, min: 1, max: 10, step: 1 %>
	<br />
	Attitude: <%= f.number_field :attitude, min: 1, max: 10, step: 1 %>
	<br />
	Problem: <%= f.number_field :problem, min: 1, max: 10, step: 1 %>
	<br />
	Concept: <%= f.number_field :concept, min: 1, max: 10, step: 1 %> 
	<br />
	<br />
	<%= f.submit %>
<% end %>

</div>

<p></p>
&nbsp
<button class="btn btn-default" type="button"><%= link_to 'Back', course_path(@course) %> </button>| 
<button class="btn btn-default" type="button"><%= link_to 'Homepage', root_path %></button>

		<br />
				<br />

				<br />
<br />
		<br />
				<br />

				<br />
<br />
<div class="footer navbar-fixed-bottom">	
  <footer class="container-fluid text-center fixed-bottom">
  <p>Rate My GSI</p>
  </footer>
</div>

</div>


