<%= render "layouts/navigation" %>
<h1>
  <strong>Name:</strong>
  <%= @user.username %>'s Reviews
</h1>

<% %>

<% if @reviewFromThisUser.size > 0 %>
	<% @reviewFromThisUser.each do |r| %>
			GSI: <$= Gsi.find(r.gsi_id).name %> <br /> <br />
			Content: <%= r.content %> <br />
			Clarity <%= r.clarity %>/10 <br />
			Attitude <%= r.attitude %>/10 <br />
			Problem <%= r.problem %>/10 <br />
			Concept <%= r.concept %>/10 <br />
			review details //FIXME
			<br />
		<br />
	<% end %>

<% end %>
 

<%= link_to 'Homepage', root_path %>