<html>

  <head>
    <title>Ratemygsi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="author" content="Ruby on Rails">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">


    <style>
      body {
        font-family: 'Roboto', sans-serif;
      }
      .header {
        font-family: 'Paytone One', sans-serif;
        text-transform: uppercase;
                letter-spacing: 3px;
        word-spacing: 2px;
        padding: 15px;
        padding-bottom: 30px; 
      }
      .navbar {
        margin-bottom: 0;
        border-radius: 0;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
        background-color: #656565;
        border-color: #656565;;
      }
      .name {
        font-family: 'Paytone One', sans-serif;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-spacing: 2px;
        padding: 15px;
        padding-bottom: 30px; 
      }
      .description {
        font-family: 'Roboto', sans-serif;
        text-transform: none; 
      }
      .glyphicon {
    font-size: 10px;


}
.actions {
  margin: auto;
    width: 50%;
    padding: 10px;
}
.button {
  margin: auto;
    width: 50%;
    padding: 10px;
}
      /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
      .row.content {height: 450px}
      
      /* Set gray background color and 100% height */
      .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 700px;
      }
      .rightnav {
        padding-right: 0px;
        padding-left: 10px;
      }
      .everything {
        padding-left: 0px; 
        padding-right: 0px;
      }
      /* Set black background color, white text and some padding */
      footer {
        background-color: #656565;
        color: white;
        padding: 15px;

      }

      .added-course {
        text-decoration: none; 
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
      }
      .added-course-name:visited {

      }
      
      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
        .sidenav {
          height: auto;
          padding: 15px;
        }
        .row.content {height:auto;} 
      }
    </style>
</head>

<body>
     <%= render "layouts/navigation" %>

      <div class="header text-center"><h1>Log in</h1></div>

      <div class="form text-center"><%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>


      <% end %>

      <%= render "devise/shared/links" %>
    </div>

  </body>

  <div class="footer navbar-fixed-bottom">  
  <footer class="container-fluid text-center fixed-bottom">
  <p>Rate My GSI</p>
  </footer>
</div>

</html>