<%= render "layouts/navigation" %>

<div class="col-sm-12 text-center"> 
      <div class="name"><h2> <%= @course.name %>'s Reviews</h2> </div>


<% if @gsiForThisCourse.size > 0 %>
	<h2>Browse by GSIs</h2>
	<% @gsiForThisCourse.each do |g| %>
		<h3> <%= link_to g.name, gsi_path(g) %> </h3>
		<br />
	<% end %>
	<br />

	<h2>All reviews</h2>
	<% @gsiForThisCourse.each do |g| %>
		<% @reviewForThisCourse = Review.where(gsi: g) %>
		<% if @reviewForThisCourse.size > 0 %>
			
			<% @reviewForThisCourse.each do |r| %>
					<strong><%= link_to g.name, gsi_path(g) %></strong><br />
					<%= r.user.username %>     says: <%= r.content %> <br />
					Clarity <%= r.clarity %>/10 <br />
					Attitude <%= r.attitude %>/10 <br />
					Problem <%= r.problem %>/10 <br />
					Concept <%= r.concept %>/10 <br />
					<% if r.score > 0 %>
						<% if r.score == 1 %>
							Upvoted by 1 student <br />
						<% else %>
							Upvoted by <%= r.score %> students <br />
						<% end %>
					<% end %>
					<%= form_for r.upvotes.build do |f| %>
					  <%= f.hidden_field :user_id, value: current_user.id %>
					  <%= f.hidden_field :review_id, value: r.id %>
					  <%= f.submit 'Upvote', class: 'upvote-submit' %>
					<% end %>
					<br />
				<br />
			<% end %>
		<% end %>
	<% end %>


<br />
<br />
<% end %>

<h2> Review a new GSI for <%= @course.name %> </h2>

<%= form_for Gsi.new, url: course_path(@course) do |f| %>
	Name: <%= f.text_field :name %>
	<br />
	<%= f.button :submit %>
<% end %>


<br />
<button class="btn btn-default" type="button"><%= link_to "Homepage", root_path %></button>


</div>

